/* Admin Layout */
.admin-layoutsidebar {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Sidebar Styling */
.sidebar {
  color: black;
  width: 250px;
  height: 100vh;
  background-color: white;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border-right: 1px solid #ccc;
}

.sidebar.collapsed {
  width: 80px;
}

/* Sidebar Header */
.sidebar-header {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: white;
}

.menu-toggle {
  cursor: pointer;
  font-size: 22px;
  color:linear-gradient(to bottom, #16007a, #7a0045);
}

.sidebar-title {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

/* Sidebar Menu */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

.menu-item:hover {
  background: linear-gradient(to bottom, #16007a, #7a0045);
  color: white;
}

.menu-item:hover span,
.menu-item:hover .icon {
  color: white !important;
}


.menu-item:hover span{
  color: white;

}

.menu-item a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-item .icon {
  margin-right: 10px;
  font-size: 20px;
  color:linear-gradient(to bottom, #16007a, #7a0045);
}
.menu-item:hover span,
.menu-item:hover .icon {
  color: white !important;
}

.sidebar.collapsed .menu-item {
  justify-content: center;
}

.sidebar.collapsed .menu-item .icon {
  margin-right: 0;
}

.sidebar.collapsed .menu-item span {
  display: none;
}

/* Content */
.admin-content {
  width: 100%;
  
  overflow-y: auto;
}
.sidebar-logo {
  max-width: 70px; /* Adjust width as needed */
  height: auto;
  margin-left: 30px;
}

